extend ../_layouts/baselayout
block content
	h1 Game Development
	p 
		| This is the main page for designing games and missions. If you are trying to handle events for the current game, use the 
		a(href='/mod/game') Current Game Management
		|  page instead.
	br
	
	#tabs(role='tabpanel')
		//- Nav tabs
		ul.nav.nav-tabs(roles='tablist')
			li.active(role='presentation')
				a(href='#games', aria-controls='games', role='tab' data-toggle='tab') Games
			li(role='presentation')
				a(href='#missions', aria-controls='missions', role='tab' data-toggle='tab') Missions
		
		//- Tab panes
		.tab-content#tabContainer
			.tab-pane.active#games(role='tabpanel')
				.row
					.col-xs-4: a.btn(href='/mod/dev/create/game') Create New Game
					.col-xs-4: a.btn(href='/') Edit Current Game
				br
				table.display.dataTable
					thead
						tr
							th Title
							th Description
							th Start
							th End
							th Status
							th Actions
								
					tbody
						//- Display each game
						for game in games
							tr
								td #{game.title}
								td #{game.description}
								td #{game.startDate}
								td #{game.endDate}
								td TODO
								td 
									a.btn(href='/mod/dev/edit/game/#{game.gameId}') Edit
					tfoot
						tr
							th Title
							th Description
							th Start
							th End
							th Status
							th Actions
							
			.tab-pane#missions(role='tabpanel')
				.row
					.col-xs-4: a.btn(href='/mod/dev/create/mission') Create New Mission
				br
				table.display.dataTable
					thead
						tr
							th Game
							th Title
							th Description
							th Start
							th End
							th Status
							th Actions
								
					tbody
						//- Display each game
						for mission in missions
							tr
								td #{mission.gameId}
								td #{mission.title}
								td #{mission.description}
								td #{mission.startDate}
								td #{mission.endDate}
								td TODO
								td
									a.btn(href='/mod/dev/edit/mission/#{mission.missionId}') Edit
					tfoot
						tr
							th Game Title
							th Title
							th Description
							th Start
							th End
							th Status
							th Actions
block localCSS
	link(rel='stylesheet' type='text/css' href='//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css')
		

block localJS
	script(type='text/javascript' src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js')
	
	script(type='text/javascript' src='/js/mod/dev.js')
	