extend ../_layouts/baselayout
block content
	h1 User Management
	br
		
	//- COUNTS
	.row
		.col-xs-3 #{counts.user} Normal Users<br>
			| [#{counts.active} Active]
		.col-xs-3 #{counts.human + counts.zombie} Players<br>
			| [#{counts.human} Humans | #{counts.zombie} Zombies]
		.col-xs-3 #{counts.mod} Mods
		.col-xs-3
			.icon-loading
	br
		
	//- DATA
	table#DT.display
		thead
			tr
				th First Name
				th Last Name
				th HVZID
				th Role
				th Active?
				th Actions

		tbody
			for user in userData
				tr
					td #{user.firstName}
					td #{user.lastName}
					td #{user.HVZID}
					td #{user.role}
					td #{user.active}
					td.text-right
						//- Determine action list
						//- TODO= Make roleIds dynamic
						if user.active == 'Y'
							if user.role == 'U'
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=2) Humanize
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=3) Zombify
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=4) OZ
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=5) Mod
							else if user.role == 'H'
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=3) Kill
							else if user.role == 'Z'
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=2) Revive
							else if user.role == 'O'
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=3) Kill
								button.btn.btn-action(data-userId='#{user.userId}' data-action='changeRole' data-roleId=2) Revive
							
							button.btn.btn-action(data-userId='#{user.userId}' data-action='deactivate') Deactivate
						else
							button.btn.btn-action(data-userId='#{user.userId}' data-action='activate') Activate
								
						button.btn.btn-action(data-userId='#{user.userId}' data-action='edit') Edit
						button.btn.btn-action(data-userId='#{user.userId}' data-action='delete') Delete

		tfoot
			tr
				th First Name
				th Last Name
				th HVZID
				th Role
				th Active?
				th Actions
	
	br
	h3 Log
	p#log

block localCSS
	link(rel='stylesheet' type='text/css' href='//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css')
	link(rel='stylesheet' type='text/css' href='//cdn.datatables.net/colvis/1.1.1/css/dataTables.colVis.css')
	//- link(rel='stylesheet' type='text/css' href='//cdn.datatables.net/keytable/1.2.1/css/dataTables.keyTable.css')
		

block localJS
	script(type='text/javascript' src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js')
	script(type='text/javascript' src='//cdn.datatables.net/colvis/1.1.1/js/dataTables.colVis.min.js')
	//- script(type='text/javascript' src='//cdn.datatables.net/keytable/1.2.1/js/dataTables.keyTable.min.js')

	script(type="text/javascript", src="/js/mod/users.js")
