extend ../_layouts/baselayout
block content
	h1 Clarification Requests
	
	p
		a.link-none.btn.btn-default(href='/user/cRequestCreate') Create New
	
	table.table
		thead
			tr
				th 
				th Subject
				th Game
				th Mission
				th Status
				th R
				th Updated
		for cRequest in cRequests
			tbody.cr-container
				tr.cr-header
					td: span.glyphicon.glyphicon-menu-right
					td #{cRequest.subject}
					td #{(cRequest.gameTitle !== null)? cRequest.gameTitle : '-'}
					td #{(cRequest.missionTitle !== null)? cRequest.missionTitle : '-'}
					td #{(cRequest.closed)? 'Closed' : 'Open'}
					td #{cRequest.replies}
					td #{cRequest.updatedAt}
				tr.cr-content(data-crId='#{cRequest.crId}')
					td
					td.cr-content-container(colspan=6)
						blockquote
							span.cr-comment-user #{cRequest.userName}
							span.cr-comment-date #{cRequest.createdAt}
							br
							span.cr-description #{cRequest.description}
						.cr-comment-container
							//- for comment in cRequest.comments
							//- 	.cr-comment
							//- 		span.cr-comment-user #{comment.userName}
							//- 		span.cr-comment-date #{comment.date}
							//- 		br
							//- 		span.cr-comment-text #{comment.text}
						form.cr-submitComment
							.formResult
							.col-xs-10
								textarea.form-control(rows='2' name='newComment' placeholder="Write a comment..." maxlength='2000' required)
							.col-xs-2.text-left
								button.btn.btn-default(type="submit") Send
		
			
block localJS
	script(type='text/javascript' src='/js/user/cRequestView.js')