extend ../_layouts/baselayout
block content
	.panel.panel-default
		.panel-heading
			h3.panel-title Basic Information
		.panel-body
			b.col-xs-2 First Name:
			.col-xs-5.
				#{firstname}
		.panel-body
			b.col-xs-2 Last Name:
			.col-xs-5.
				#{lastname}
		.panel-body
			b.col-xs-2 E-mail:
			.col-xs-5.
				#{email}
	.panel.panel-default
		.panel-heading
			h3.panel-title HVZ Information
		.panel-body
			b.col-xs-2 HVZID:
			.col-xs-5.
				#{hvzid}
		.panel-body
			b.col-xs-2 Role:
			.col-xs-5.
				#{role}